
.app-top{
    background: url("../../img/top.png") no-repeat;
}
.app-topbox{
    margin-top: 16px !important;
}


.am-nav li a:hover::after {
    border-bottom-color: white !important;
}

.topline {
    width: 70%;
    height: 7px;
    background-color: #5A205E;
    padding: 0  0  0  0;
    border: 0px;
    padding: 0px;
    margin: 0 auto;
}

.navi{
    width: 70%;
    height: 60px;
    margin: 0 auto;
}

@media only screen and (max-width: 640px) {
    .am-topbar {
        margin: 0;
    }
    .banner-content {
        margin-top: 19px;
    }
}

@media only screen and (min-width: 1122px){
    .app-topbox{
        height: 90px;
        width: 70%;
        margin: 0 auto;
    }

    .app-logo{
        width:330px;
        float: left;
    }
    .app-logo-top{
        height: 50%;
        font-family: "Microsoft YaHei", sans-serif;
        color: #27ae60;
        font-size: 30px;
        font-weight: 600;
    }

    .app-top-right{
        float: left;
        margin-left: 35%;
        color: #27ae60;
        font-size: 20px;
    }
    .app-right-top{
        height: 50%;
        margin-left: 10px;
        font-size: 17px;
        font-weight: 600;
    }
    .app-right-butom{
        height: 50%;
        margin-left: 10px;
        margin-top: -7px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 1121px){
    .app-topbox{
        height: 90px;
        width: 100%;
        margin: 0 auto;
    }
    .app-logo{
        width:340px;
        margin: auto;
    }
    .app-logo-top{
        height: 50%;
        font-family: "Microsoft YaHei", sans-serif;
        color: #27ae60;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
    .app-logo-buttom{
        width: 340px;
        height: 30%;
        margin:auto;
        background-color: #2ecc71;
        color: white;
        text-align: center;
        font-weight: 500;
    }

    .app-top-right{
        margin-left: 50%;
        color: #27ae60;
        font-size: 10px;
    }
    .app-right-top{
        height: 50%;
        float: left;
        margin-left: 10px;
        font-size: 10px;
        font-weight: 600;
        margin-top: 2px;
    }
    .app-right-butom{
        height: 50%;
        float: left;
        margin-left: 10px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 359px){
    .app-topbox{
        height: 90px;
        width: 100%;
        margin: 0 auto;
    }
    .app-logo{
        width:330px;
        margin: auto;
    }
    .app-logo-top{
        height: 100%;
        font-family: "Microsoft YaHei", sans-serif;
        color: #27ae60;
        font-size: 20px;
        font-weight: 600;
    }

    .app-top-right{
        margin-left: 40%;
        color: #27ae60;
        font-size: 8px;
    }
    .app-right-top{
        height: 50%;
        float: right;
        margin-left: 10px;
        font-size: 8px;
        font-weight: 600;
        margin-top: 2px;
    }


}