# Created by Raomengnan
### Java template
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

#Project Config Files
/target
.idea
ERP-Notebook.iml
/src/main/webapp/WEB-INF/db.properties
/src/main/webapp/WEB-INF/request.json